.footer-content {
  display: flex;
  font-weight: 300;
  width: 100%;
  height: 100%;
  line-height: 150%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer-content a {
  font-weight: 400;
  color: #a19364;
}

.build-version {
  position: fixed;
  bottom: 3px;
  right: 3px;

  color: #797979;
  font-weight: 300;
  font-size: x-small;
}

@media (width <= 600px) {
  .footer-content {
    font-size: small;
  }
  .build-version {
    font-size: xx-small;
  }
}
