.footer-content {
  margin: 12px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.footer-content a {
  font-weight: 400;
  color: #a19364;
}

.build-version {
  position: fixed;
  bottom: 4px;
  right: 4px;

  color: #797979;
  font-weight: 300;
  font-size: 12px;
}
